#flyout {
    vertical-align: bottom;
    height: 34px;
    min-width: 1005px;
}

.FirstUL {
    list-style: none;
    margin: 0;
    padding: 0px;
}

    .FirstUL .level1Link .MenuLinkImg img {
        margin: 0px;
        padding: 0;
        width: 20px;
        height: 20px;
        position: relative;
        top: -2px;
    }

    .FirstUL .level1Link .MenuLinkText {
        margin-right: 2px;
        margin-left: 2px;
        vertical-align: top;
    }

    .FirstUL .level1Link .MenuLinkImg {
        vertical-align: top;
    }

    .FirstUL.ui-widget-header {
        font-weight: normal;
    }

.fg-menu-container.ui-widget.ui-widget-content {
    border-top: 0;
}

/*.fg-menu a:link, .fg-menu a:visited,*/
.fg-menu a:hover, .fg-menu a:active {
    padding: 0.4em 3%;
}

.fg-menu li a img {
    vertical-align: top;
    width: 16px;
    height: 16px;
    padding: 0px;
    margin-right: 4px;
    float: left;
    position: relative;
    top: -1px;
    left: 0px;
}

.level1 {
    float: left;
    list-style: none;
}

    .level1.ui-state-default {
        border: 0;
        border-width: 0px;
    }

    .level1 .level1Link {
        display: block;
        height: 14px;
        cursor: pointer;
        font-weight: normal;
        text-decoration: none;
        padding: 10px 4px 10px 4px;
        border-bottom: 0;
        border-top: 0;
        font-size: 1.1em;
    }

    .level1 a.fg-menu-open {
        padding-left: 3px;
        padding-right: 3px;
    }

    .level1 .MenuLinkText.ui-widget-content {
        border: 0;
        background: none;
    }

.positionHelper {
    cursor: pointer;
    z-index: 9999999;
    /*background: url('~\Images\trans.png') repeat 0 0;*/
}

.ui-widget {
    font-size: 12px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    letter-spacing: .01em;
}

body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    letter-spacing: .01em;
}

html {
}

#body {
    margin: 0;
    border: 0;
    overflow: hidden;
    padding: 10px 10px 50px 10px; /*padding: 10px 10px 50px 10px;*/
}

#header {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    display: table;
    width: 100%;
    height: 87px;
}

    #header table {
        width: 100%;
        height: 100%;
    }

    #header #MainMenu, header #Login, header #Logo, #header table {
        height: 85px;
    }

    #header #Logo {
    }

    #header #MainMenu {
        /*width: 75%;*/
        text-wrap: avoid;
    }

    #header #Login a {
        text-decoration: none;
    }

        #header #Login a:hover {
            text-decoration: underline;
        }

    #header #Login {
        width: 15%;
        padding: 5px;
        vertical-align: top;
    }

#headerSplitter {
    border-width: 0px;
    padding: 5px 0px 5px 0px;
}

    #headerSplitter span {
        margin: 0;
        height: 1px;
        width: 100%;
        display: block;
        border-width: 1px 0px 0px 0px;
    }

#footer {
    margin: 0;
    padding: 0;
    /*position: fixed;*/
    bottom: 0px;
    border-left: 0;
    border-right: 0;
    width: 100%;
}

    #footer #CopyRight {
        text-align: center;
        font-weight: normal;
        padding: .5%;
    }

.RightBasedOnDir {
    float: right;
    display: block;
}

.LeftBasedOnDir {
    float: left;
    left: 5px;
    position: relative;
    display: block;
}

a img {
    border: 0;
    outline: none;
}

/*a:link,
    a:visited,*/
a:hover,
a:active,
a:focus,
input:focus,
button:focus,
textarea:focus {
    outline: none;
    outline-width: 0px;
}

table, tr, td, tbody {
    border-collapse: collapse;
    border-spacing: 0px 0px;
    padding: 0;
    margin: 0;
}

.Shadow {
    -moz-box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2);
}


.DMS-ControlContainer .field-validation-error {
    display: block;
    background-image: url('../../images/Warning.png');
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 3px;
    padding-left: 20px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    /*border: 1px solid #E98689;*/
    /*background-color:#F8DBDD;*/
}

#body fieldset {
    margin: 10px;
    display: block;
    padding: 10px;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(255, 255, 255, 0.95);
}


#body p {
    margin: 0px;
    padding: 0px;
}

#body fieldset p {
    margin-left: 0px;
    margin-right: 0px;
}

#body td {
    vertical-align: top;
}

.ui-jqgrid-btable td {
    vertical-align: middle !important;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    overflow-x: hidden !important;
}
/*.ui-jqgrid td, .ui-jqgrid th {
    padding: 0pt 0ex !important;
}
.ui-jqgrid .ui-jqgrid-resize
{
    width:0px !important;
    display:none !important;
}*/
.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column, .ui-jqgrid tr.ui-row-ltr td {
    text-align: left !important;
}

.DMS-Tree {
    max-height: 360px;
    overflow: auto;
    position: relative;
}

.DocumentArea {
    overflow: auto;
    width: 400px;
    height: 226px;
}



#DocumentList .Deleteicon {
    background-image: url('../../images/delete.png') !important;
    text-indent: -99999px;
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}


.ConfirmDelete {
    float: left;
    margin: 0 7px 20px 0;
}

.DMSPageTitle {
    margin: 0px 0px;
    display: block;
    font-size: 16px;
    padding: 5px 20px;
    text-shadow: 0 1px 0 #F0F0F0;
}

.DMS-TextBox, .DMS-DropDownList {
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

textarea.DMS-TextBox {
    resize: vertical;
    height: 50px;
}

.DMS-DropDownList {
    padding: 4px 0px !important;
    margin: 0px;
    width: 148px;
}

.DMS-TextBox {
    font-weight: normal;
    font-size: 1em;
    padding: 4px 4px !important;
    margin: 0px;
    font-weight: normal !important;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    /*color:#000;*/
    width: 140px;
}

    .DMS-TextBox.ui-state-default, .DMS-TextBox.ui-state-active {
        background: #fff;
        color: #000;
    }

        .DMS-TextBox.ui-state-default:disabled {
            background: #F5F5F5;
            color: #999;
        }
/*.DMS-TextBox.ui-state-active
    {
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    }*/


.ui-button .ui-button-text {
    padding: 0em 1.0em 0em 1.0em;
}

input.ui-button, a.ui-button, button.ui-button {
    padding: 3px 1em 4px 1em;
    line-height: 1.4;
    margin: 0px;
}

input.ui-button, a.ui-button, button.ui-button,
#flyout, a.ui-selectmenu-dropdown, .ui-th-column, .buttonShadow {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20), inset 0 1px 2px rgba(255, 255, 255, 0.75);
}

    input.ui-button.ui-state-hover, a.ui-button.ui-state-hover, button.ui-button.ui-state-hover,
    li.level1 a.ui-state-hover, #flyout, a.ui-selectmenu-dropdown.ui-state-hover, .ui-th-column.ui-state-hover, .buttonShadow:hover {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20), inset 0 1px 2px rgba(255, 255, 255, 0.85);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20), inset 0 1px 2px rgba(255, 255, 255, 0.85);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20), inset 0 1px 2px rgba(255, 255, 255, 0.85);
    }

    input.ui-button.ui-state-active, a.ui-button.ui-state-active, button.ui-button.ui-state-active,
    li.level1 a.ui-state-active, a.ui-selectmenu-dropdown.ui-state-active, .ui-th-column.ui-state-active, .buttonShadow:active,
    .DMS-TextBox.ui-state-active {
        box-shadow: 0 0px 0 rgba(0, 0, 0, 0.10), inset 0px 2px 3px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 0px 0 rgba(0, 0, 0, 0.10), inset 0px 2px 3px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 0px 0 rgba(0, 0, 0, 0.10), inset 0px 2px 3px rgba(0, 0, 0, 0.15);
    }
/*a.ui-state-hover,a.ui-state-active
    {
        -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }*/

.ui-dialog .ui-dialog-titlebar-close {
    width: 16px;
    height: 16px;
    padding: 1px 3px;
}

.ui-dialog {
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.DMS-ControlContainer {
    padding: 5px 10px 5px 10px;
    display: inline-block;
    vertical-align: top;
}

.DMS-ButtonContainer.DMS-ControlContainer {
    padding-right: 0px;
}

.DMS-Label {
    width: 150px;
    vertical-align: top;
    display: inline-block;
    background: none;
    border: 0px;
    font-weight: bold;
    padding: 0px;
    margin: 0px 3px 0px 3px;
    overflow: hidden;
}

.DRMS-LabelValue {
    display: inline-block;
    width: 170px;
    padding: 0px 4px;
    margin: 0px;
}

.DRMS-LabelValueMulti {
    display: block;
    float: right;
    overflow: auto;
    max-height: 50px;
    max-width: 150px;
}

.DRMS-SearchImage {
    float: right;
    height: 22px;
    padding: 0px;
    margin: 0px 0px 0px 2px;
}

    .DRMS-SearchImage .ui-icon {
        left: 4px;
    }

a.DRMS-SearchImage.ui-button {
    padding: 0px;
}
