body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#body .panel-group .panel .panel-heading {
    cursor: pointer;
}

#body input, textarea, select {
    max-width: 100%;
}

#body select {
    cursor: pointer;
}

#body .page-container {
    min-height: 487px;
}

#body .popup-grid {
    border: 1px solid #eaeaea;
}

#body .popup-grid thead {
    background-color: #eaeaea;
    border-bottom-width: 2px;
}

#body .well {
    background-color: #fafafa;
    border-color: #ddd;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

#modalRuleBuilder .modal-dialog {
    width: 90%;
}
#body input[type=number] {
    width:auto;
}

#modalRuleBuilder select.input-sm {
    padding: 4px;
}

#modalRuleBuilder .glyphicon-trash:hover{
    font-size: larger;
}

#suspensionsModal .modal-dialog {
    width: 50%;
}