body {
}
/*****Header color , shadow And font******/
.navbar{
    
    background-color:#20447d;
    box-shadow: 0px 4px 3px #acaaaa;
}
.panel-title {
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/*Fonts for cycles*/
.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-family:Lucida Fax;
    font-size:20px
}


/*Color for Cycle , Scema ,Element*/
.panel-primary {
    border-color: #d0534f
}
    .panel-primary > .panel-heading {
        background-color: #d0534f;
        border-color: #d23f3a;
    }
.panel-info > .panel-heading {
    background-color: #d4534f;
    border-color: #d6534f;
}
.panel-success>.panel-heading{background-color:#999; border-color:#999;}
/*Shadow for Cycle*/
.panel.panel-primary.ng-scope{box-shadow: 1px 1px 5px  #807c7c;}
h4.panel-title.ng-binding,.navbar-inverse .navbar-text{color:#ffffff}

/*Buttons Color and shadow*/
button .btn .btn-success .btn-xs .pull-right{background-color:#db5d1e}

.cg-busy-default-spinner div {
    width: 16%;
    height: 35%;
    background: #52598E;
    position: absolute;
    left: 33.5%;
    top: 34%;
    opacity: 0;
}
.cg-busy-default-sign {
    display: inline-block;
    position: relative;
    z-index: 1002;
    padding-bottom: 6px;
    color: red;
    text-shadow: 0 1px 1px rgba(255,255,342,69.75);
    background-color: #EDF4FF;
    border: 1px solid #ddd;
    border-top-width: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}



.cg-busy-backdrop {
    opacity: 0.8;
}